body {
  margin: 0;
  line-height: normal;
}
.title-b13,
.title-div19 {
  position: relative;
  line-height: 32px;
  display: inline-block;
}
.title-div19 {
  font-size: var(--bold-size);
  line-height: 18px;
}
.frame-div160 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.email-address-div3 {
  position: relative;
  line-height: 24px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.44),
      rgba(255, 255, 255, 0.44)
    ),
    #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.field-div17 {
  border-radius: var(--br-md);
  background-color: var(--braand-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 420px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
}
.show-div1 {
  position: relative;
  font-size: var(--font-size-2xs);
  line-height: 24px;
  font-weight: 500;
  background: linear-gradient(
      rgba(255, 255, 255, 0.44),
      rgba(255, 255, 255, 0.44)
    ),
    #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  display: inline-block;
}
.field-div18,
.frame-div162,
.frame-div163 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div163 {
  flex-direction: row;
  gap: var(--gap-10xl);
}
.field-div18,
.frame-div162 {
  flex-direction: column;
}
.field-div18 {
  border-radius: var(--br-md);
  background-color: var(--braand-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 420px;
  padding: var(--padding-2xs) var(--padding-md);
}
.frame-div162 {
  overflow: hidden;
  gap: var(--gap-xs);
}
.frame-5variant5-div4,
.frame-div166 {
  border-radius: var(--br-lg);
  background-color: var(--main-primary);
  height: 56px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-div166 {
  width: 142px;
  padding: var(--padding-sm) var(--padding-lg);
  box-sizing: border-box;
}
.frame-5variant5-div4 {
  width: 420px;
}
.or-div4 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--text-small-regular);
  background: linear-gradient(
      rgba(255, 255, 255, 0.44),
      rgba(255, 255, 255, 0.44)
    ),
    #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.group-icon5 {
  position: relative;
  width: 23.95px;
  height: 24px;
  flex-shrink: 0;
}
.sign-in-with-google {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
}
.frame-div168 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.frame-5variant5-div5,
.frame-div167 {
  border-radius: var(--br-lg);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.frame-div167 {
  padding: var(--padding-sm) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-5variant5-div5 {
  border: 0.5px solid var(--main-primary);
  width: 420px;
  align-items: center;
  justify-content: center;
  color: var(--main-primary);
}
.frame-div165 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.sign-up-span {
  text-decoration: underline;
  font-weight: 600;
}
.dont-have-an-account-sign-up,
.forgot-password-div {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.forgot-password-div {
  text-decoration: underline;
  color: var(--main-primary);
}
.frame-div164,
.frame-div169 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-div169 {
  justify-content: flex-start;
  gap: var(--gap-7xs);
  color: var(--text-dark);
}
.frame-div164 {
  justify-content: center;
  gap: var(--gap-xs);
  font-size: var(--bold-size);
}
.frame-div159,
.frame-div161 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-div161 {
  align-items: flex-start;
  gap: var(--gap-3xl);
  font-size: var(--smaller-text-bold-size);
  color: var(--braand-white);
}
.frame-div159 {
  position: absolute;
  top: 48px;
  left: 47px;
  align-items: center;
  gap: 32px;
}
.x-icon10 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.dismiss-div10 {
  position: absolute;
  top: 24px;
  left: 450px;
  border-radius: var(--br-md);
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.doneerecipient-login {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--braand-white);
  width: 100%;
  height: 548px;
  text-align: left;
  font-size: var(--title-h3-size);
  color: var(--text-dark);
  font-family: var(--smaller-text-bold);
}
