body {
  margin: 0;
  line-height: normal;
}
.checkcircle-icon1 {
  position: relative;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  overflow: hidden;
}
.orphanageamico-icon4 {
  position: relative;
  width: 263.04px;
  height: 240px;
  flex-shrink: 0;
  display: none;
}
.title-b5,
.title-div9 {
  position: relative;
  display: inline-block;
}
.title-div9 {
  font-size: var(--bold-size);
  line-height: 18px;
  color: var(--color-gray-1000);
}
.frame-div111 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.group-div10 {
  position: relative;
  width: 272px;
  height: 56px;
  flex-shrink: 0;
  display: none;
}
.frame-div110 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.title-b6,
.title-div10 {
  position: relative;
  display: inline-block;
}
.title-b6 {
  color: var(--text-dark);
  text-align: left;
}
.title-div10 {
  font-size: var(--font-size-lg);
  line-height: 24px;
  font-weight: 500;
}
.our-team-will {
  margin-block-start: 0;
  margin-block-end: 0;
}
.this-might-take {
  margin: 0;
}
.title-div11 {
  position: relative;
  font-size: var(--bold-size);
  line-height: 18px;
  display: inline-block;
  width: 435px;
}
.frame-div109,
.frame-div112 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-div112 {
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--color-gray-1000);
}
.frame-div109 {
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.donate-now-b5 {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
}
.frame-4variant5-div4,
.frame-div113 {
  border-radius: var(--br-lg);
  background-color: var(--main-primary);
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-div113 {
  padding: var(--padding-sm) var(--padding-lg);
  box-sizing: border-box;
}
.frame-4variant5-div4 {
  width: 240px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--bold-size);
  color: var(--braand-white);
}
.frame-div107,
.frame-div108 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-div108 {
  gap: var(--gap-4xl);
}
.frame-div107 {
  position: absolute;
  top: 48px;
  left: 41px;
  overflow: hidden;
}
.x-icon4 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.dismiss-div4 {
  position: absolute;
  top: 24px;
  left: 450px;
  border-radius: var(--br-md);
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.partners-successful-div {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--braand-white);
  width: 100%;
  height: 440px;
  overflow: hidden;
  text-align: left;
  font-size: var(--title-h3-size);
  color: var(--text-dark);
  font-family: var(--smaller-text-bold);
}
