body {
  margin: 0;
  line-height: normal;
}
.title-b11,
.title-div17 {
  position: relative;
  line-height: 32px;
  display: inline-block;
}
.title-div17 {
  font-size: var(--bold-size);
  letter-spacing: 0.03em;
  line-height: 18px;
}
.frame-div146 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.or-div2 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--text-small-regular);
  background: linear-gradient(
      rgba(255, 255, 255, 0.44),
      rgba(255, 255, 255, 0.44)
    ),
    #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}
.donate-now-b7 {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
}
.frame-div148 {
  background-color: var(--main-primary);
  width: 142px;
  height: 56px;
  flex-shrink: 0;
  padding: var(--padding-sm) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-5variant5-div,
.frame-5variant5-div1,
.frame-div148,
.frame-div149 {
  border-radius: var(--br-lg);
  display: flex;
  flex-direction: row;
}
.frame-5variant5-div {
  background-color: var(--main-primary);
  width: 420px;
  height: 56px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.frame-5variant5-div1,
.frame-div149 {
  box-sizing: border-box;
}
.frame-div149 {
  padding: var(--padding-sm) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-5variant5-div1 {
  border: 0.5px solid var(--main-primary);
  width: 420px;
  align-items: center;
  justify-content: center;
  color: var(--main-primary);
}
.frame-div145,
.frame-div147 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.frame-div147 {
  width: 420px;
  overflow: hidden;
  font-size: var(--bold-size);
  color: var(--braand-white);
}
.frame-div145 {
  position: absolute;
  top: 48px;
  left: 47px;
}
.x-icon8 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.dismiss-div8 {
  position: absolute;
  top: 24px;
  left: 450px;
  border-radius: var(--br-md);
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.sign-up-log-in {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--braand-white);
  width: 100%;
  height: 316px;
  text-align: left;
  font-size: var(--title-h3-size);
  color: var(--text-dark);
  font-family: var(--smaller-text-bold);
}
